{
    "amqp-development": {
        "AMQP_USER": "admin",
        "AMQP_PASSWORD": "admin",
        "AMQP_HOSTNAME": "localhost",
        "AMQP_EXCHANGE": "jerky"
    },
    "amqp-production": {},
    "amqp-test": {
        "AMQP_USER": "admin",
        "AMQP_PASSWORD": "admin",
        "AMQP_HOSTNAME": "localhost",
        "AMQP_EXCHANGE": "jerky"
    },
    "jwt-development": {
        "JWT_SECRET_ACCESS": "access_secret",
        "JWT_SECRET_REFRESH": "refresh_secret",
        "JWT_ACCESS_EXP": "3000",
        "JWT_REFRESH_EXP": "6000"
    },
    "jwt-production": {},
    "jwt-test": {
        "JWT_SECRET_ACCESS": "access_secret",
        "JWT_SECRET_REFRESH": "refresh_secret",
        "JWT_ACCESS_EXP": "3000",
        "JWT_REFRESH_EXP": "6000"
    },
    "mongo-development": {
        "MONGO_LOGIN": "admin",
        "MONGO_PASSWORD": "admin",
        "MONGO_HOST": "localhost",
        "MONGO_PORT": "27017",
        "MONGO_AUTHDATABASE": "admin",
        "MONGO_DATABASE": "jerky"
    },
    "mongo-production": {},
    "mongo-test": {},
    "api-microservice-development": {
        "LOG_PATH": "/log/api-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "api",
        "AMQP_LOG_MASSAGE": "false",
        "COOKIES_MAX_AGE": "600"
    },
    "api-microservice-production": {},
    "api-microservice-test": {
        "LOG_PATH": "/log/api-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "api",
        "AMQP_LOG_MASSAGE": "false",
        "COOKIES_MAX_AGE": "600"
    },
    "authorization-microservice-development": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5433/dev?schema=auth",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/auth-client",
        "LOG_PATH": "/log/authorization-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "auth",
        "AMQP_LOG_MASSAGE": "false"
    },
    "authorization-microservice-production": {},
    "authorization-microservice-test": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5433/dev?schema=auth",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/auth-client",
        "LOG_PATH": "/log/authorization-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "auth",
        "AMQP_LOG_MASSAGE": "false"
    },
    "catalog-microservice-development": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5434/dev?schema=catalog",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/catalog-client",
        "LOG_PATH": "/log/catalog-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "catalog",
        "AMQP_LOG_MASSAGE": "false"
    },
    "catalog-microservice-production": {},
    "catalog-microservice-test": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5434/dev?schema=catalog",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/catalog-client",
        "LOG_PATH": "/log/catalog-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "catalog",
        "AMQP_LOG_MASSAGE": "false"
    },
    "user-microservice-development": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5432/dev?schema=user",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/user-client",
        "LOG_PATH": "/log/user-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "user",
        "AMQP_LOG_MASSAGE": "false"
    },
    "user-microservice-production": {},
    "user-microservice-test": {
        "DATABASE_URL": "postgresql://admin:admin@localhost:5432/dev?schema=user",
        "CLIENT_OUTPUT": "../../../../node_modules/@prisma/client/scripts/user-client",
        "LOG_PATH": "/log/user-microservice/",
        "LOG_LEVEL": "debug",
        "LOG_DB": "0",
        "AMQP_QUEUE": "user",
        "AMQP_LOG_MASSAGE": "false"
    }
}
